.features {
  text-align: center;

  ul {
    padding: 0 4rem;
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  li {
    margin-bottom: 3rem;
    padding: 0 1rem;
    border-radius: 1rem;

    img {
      height: 70px;
      width: auto;
      margin-bottom: 1.5rem;
    }

    h6 {
      margin-bottom: 0.6rem;
      font-size: 1.1rem;
      font-weight: 700;
    }
  }

  @media screen and (min-width: 575px) {
    text-align: left;

    ul {
      padding: 0;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    li {
      margin-bottom: 5rem;
      max-width: 45%;
    }
  }

  @media screen and (min-width: 991px) {
    li {
      max-width: 30%;
    }
  }

  @media screen and (min-width: 1500px) {
    li {
      max-width: 23%;
    }
  }
}
