.jobs {
    padding-bottom: 4rem;
    &__hero {
        background: url('../images/jobs.jpg') no-repeat;
        background-size: cover;
        height: 35rem;
        & > .container {
            position: relative;
            z-index: 30;
        }
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            opacity: 0.7;
            background: linear-gradient(-135deg, #FFB751 0%, #FDC149 29%, #FFD652 82%, #FFD900 100%);
        }
        .hero__title {
            border-left: 8px solid white;
            padding: 0 0 0 1rem;
        }
    }
    &__section {
        & > ul {
            padding: 0;
            list-style: none;
        }
    }
}
.job {
    margin-top: 5rem;
    &__head {
        margin-bottom: 1rem;
    }
    &:not(:last-child) {
        border-bottom: solid rgba(239, 239, 239, 0.9) 2px;
        padding-bottom: 3rem
    }
    &__requirements {
        margin-bottom: 2rem;
        li {
            margin-bottom: 0.4rem;
        }
    }
}