/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Signika:700');

body {
  font-family: 'Maven Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  color: #423d2d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 1.2rem;
  line-height: 1.666;
}
.link {
  color: inherit;
  position: relative;
}
.link:hover {
  color: #fdc44a;
  text-decoration: none;
}
.link_underline::after {
  content: '';
  width: 100%;
  height: 0.4rem;
  background-color: #fdc44a;
  position: absolute;
  left: 0;
  bottom: -0.4rem;
}
