.footer {
    background-color: #FDC44A;
    text-align: center;
    padding: 3rem 0 3rem;

    &__cta {
        margin-bottom: 1rem;
    }

    &__logo {
        margin-bottom: 1.5rem;
    }

    &__nav {
        padding: 0;
        justify-content: center;
        .nav-item {
            text-transform: capitalize;
            &:not(:last-child){
                margin-right: 2rem;
            }
        }
    }

    &__copy {
        margin-top: 1rem;
        font-weight: 600;
    }

    @media screen and (min-width: 992px) {
        padding: 5rem 0 1.5rem;
        
        &__cta {
            margin-bottom: 4rem;
        }
    }
}